/*
** Scrollbar
*/

* {
  box-sizing: border-box;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/*
** Custom Font
*/

@font-face {
  font-family: 'YouTube-Realtime';
  src: url('../fonts/YouTube-Realtime.eot?e1opet');
  src: url('../fonts/YouTube-Realtime.eot?e1opet#iefix') format('embedded-opentype'), url('../fonts/YouTube-Realtime.ttf?e1opet') format('truetype'), url('../fonts/YouTube-Realtime.woff?e1opet') format('woff'), url('../fonts/YouTube-Realtime.svg?e1opet#YouTube-Realtime') format('svg');
  font-weight: normal;
  font-style: normal;
}
i.yr-icon {
  font-family: 'YouTube-Realtime' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.yr-subs:before {
  content: "\e900";
}
.yr-youtube:before {
  content: "\e901";
}
.yr-twitter:before {
  content: "\e902";
}
.yr-search:before {
  content: "\e986";
}
.yr-views:before {
  content: "\e9ce";
}
.yr-facebook:before {
  content: "\ea91";
}

/*
** Actual Styles
*/

body {
  line-height: 1.5em;
  color: white;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  cursor: default;
}
a.link {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
}

/* Pure CSS Font Reset */

.pure-g [class *="pure-u"] {
  font-family: 'Roboto', sans-serif;
}
.home-menu {
  padding: 0.6em;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.home-menu {
  background: #1e88e5;
}
.home-menu .pure-menu-heading {
  color: white;
  font-weight: 600;
  font-size: 1.8em;
  width: 100%;
  display: block;
  text-transform: none;
}
.home-menu .pure-menu-subheading {
  font-size: 1.1em;
  margin-top: -1.1em;
  font-weight: 400;
}
.splash-container {
  z-index: 1;
  overflow: hidden;
  width: 100%;
}
.splash {
  width: 80%;
  text-align: center;
  margin: 2.4em auto;
  color: #424242;
}
.splash-head {
  font-weight: 400;
  border-radius: 4px;
  font-size: 1.5em;
  line-height: 1em;
}
.splash-head.name {
  border-bottom: 3px solid #424242;
  padding: 0 4px 5px 4px;
  display: inline-block;
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.splash-head.count {
  margin: 0 auto;
  font-size: 14vw;
  color: black;
  font-weight: 600;
  display: block;
}
.splash-head.ytcount {
  margin: 0;
  font-size: 3vw;
  font-weight: 400;
}
.yr-icon {
  vertical-align: middle;
}
.odometer {
  vertical-align: middle;
}
.splash-extra {
  margin-top: 16px;
}
.splash-extra .splash-head {
  margin: 4px;
}
.splash-subhead {
  letter-spacing: 0.05em;
  opacity: 0.8;
  text-align: center;
  margin: 0;
}
.splash-sharing {
  margin-top: 4em;
}
.content {
  padding: 1em;
}
.content-wrapper {
  width: 100%;
  min-height: 50%;
  z-index: 1;
  background: #1e88e5;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 -3px 6px rgba(0, 0, 0, 0.23);
}
.sharing-button {
  padding: 18px 10px;
  margin: 0.5em 1em;
  color: white;
  vertical-align: middle;
}
.sharing-button.facebook {
  background: #303f9f !important;
}
.sharing-button.twitter {
  background: #1E88E5 !important;
}
.sharing-button.youtube {
  background: #cd201f!important;
}
.is-center {
  text-align: center;
}
.content-head {
  font-weight: 900;
  color: white;
  text-transform: uppercase;
}
.content .inner {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 35em) {
  .splash-extra .splash-head {
    font-size: 1.4em;
  }
  .content .inner, .splash {
    width: 100% !important;
  }
}
input#shareURL {
  padding: 10px;
  width: 100%;
  border: none;
  color: black;
  border-bottom: solid 1px #c9c9c9;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  text-align: center;
  font-size: 1.1em;
}
#embedCode {
  padding: 5px;
  width: 100%;
  border: none;
  color: black;
  outline: none;
  border-bottom: solid 1px #c9c9c9;
  -webkit-transition: all 0.3s ease-in 0s;
  -moz-transition: all 0.3s ease-in 0s;
  -ms-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  text-align: center;
  font-size: 1em;
  resize: none;
}
.isimg {
  margin: 0 auto;
  max-width: 100%;
  display: block;
}
@media (min-width: 48em) {
  /* We increase the body font size */
  body {
    font-size: 18px;
  }
  .splash-head {
    font-size: 250%;
  }
  .home-menu .pure-menu-heading {
    font-size: 2.6em;
  }
  .home-menu .pure-menu-subheading {
    font-size: 1.6em;
    margin-top: -1em;
    font-weight: 400;
  }
}
@media (min-width: 78em) {
  .splash-head {
    font-size: 300%;
  }
  .splash {
    margin: 3em auto;
  }
  .splash-extra {
    margin-top: 2.5em;
  }
}

/*
** Embed
*/

html.embed body {
  overflow: hidden;
  color: black;
}
#embed {
  width: 100%;
  height: 100%;
}
.embedImage {
  position: relative;
  float: left;
}
.emSec {
  padding: 3px 10px;
  width: 220px;
}
.embedName {
  height: 20px;
  position: relative;
  float: left;
}
.embedName #name {
  font-size: 16px;
  border-bottom: dotted 2px #000;
}
.embedCounter {
  height: 48px;
  position: relative;
  float: left;
  line-height: 1.5;
}
.embedCounter .count_live {
  font-size: 38px;
  margin: 0;
}
.embedHide {
  display: none;
}
.embedImg img {
  display: block;
  margin: 0 auto;
}
